* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}


p {
    margin: 16px;
}

a {
    margin-top: 30px;
    padding: 10px 40px;
    border: 1px solid black;
    border-radius: 6px;
    background: black;
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.2s;
}
/*a {*/
/*    background: blue;*/
/*    padding: 10px;*/
/*}*/

.right-box {
    height: 400px;
}

.left-box {
    height: 400px;
}

.left-box img {
    padding: 10px 30px 5px 5px;
    float: left;
}

.right-box img {
    padding: 10px 30px 5px 5px;
    float: right;
}

/*a:hover {*/
/*    background: white;*/
/*    color: black;*/
/*    border-color: black;*/
/*}*/

.content {
    width: 700px;
    margin: 0 auto;
    overflow: hidden;
}

.top-title {
    padding-left: 20px;
    margin-top: 30px;
    margin-left: 8px;
    margin-bottom: 16px;
    border-left: 6px solid red;
}
.sub-title {
    padding-left: 16px;
}